html, body{
    background-image: linear-gradient(#9a0505, red);
    padding-top: 50px;
}

.container{
    height: 100vmax;
    width: 125vmax;
}

.card{
    margin-left: 10%;    
    width: 70vmax;
    padding: 10px;
    border-radius: 10px;
}

input.btn{
    background: #4848ff;
}

input.btn:hover{
    background-color: #6969fa;
    border: 2px white solid;
}

input.btn:focus{
    background: #4848ff;
}

.clear-tasks{
    background: #4848ff;
}

.clear-tasks.btn:hover{
    background: #4848ff;
    border: 2px white solid;
}
