:root{
    --error-color: red;
}

body{
    background-image: linear-gradient(#9a0505, red);
    font-family: 'Roboto', sans-serif;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vmax;
    width: 100vmax;
}

.card{
    width: 70vmax;
    padding: 10px;
    border-radius: 10px;
}

.card-title{
    font-weight: bolder;
    color: red;
    background: rgb(232, 232, 232);
    width: 68vmax;
    height: 3em;
    margin-left: -25px;
    margin-top: -25px;
    padding: 20px 20px 20px;
    border-radius: 10px 10px 0 0;
}

.clock-holder{
    float: right;
}

input.btn{
    background: #4848ff;
}

input.btn:hover{
    background-color: #6969fa;
    border: 2px white solid;
}

input.btn:focus{
    background: #4848ff;
}

.input-field input:focus + label {
    color: red !important;
  }

.row .input-field input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important
  }

.clear-tasks{
    background: #4848ff;
}

.clear-tasks.btn:hover{
    background: #4848ff;
    border: 2px white solid;
}

.clear-tasks.btn:focus{
    background: #4848ff;
    border: 2px white solid;
}

@media only screen and (max-width: 700px) {
.clock-holder{
    font-size: medium;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vmax;
    width: 100vmax;
}

.card{
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
}

.card-title{
    font-weight: bolder;
    color: red;
    background: rgb(232, 232, 232);
    width: 42vmax;
    height: 5em;
    margin-left: -25px;
    margin-top: -25px;
    padding: 20px 20px 20px;
    border-radius: 10px 10px 0 0;
}

}